.accounts{
  .account{
    border: 1px solid #eee;
    margin: 10px;
    padding: 10px;
    position: relative;
    @include linear-gradient(#ffffff, #F6FAFC);
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);

    .account-name{
      font-size: em(20);
      font-family: "hn-regular";
      border-bottom: 1px dashed #eee;
      padding-bottom: 5px;
      color: #000000;
    }

    .actions{
      padding-top: 5px;
      @include clearfix;

      ul{
        @include clearfix;

        &.copy-menu{
          float: left;

          a{
            @include orange-button(12);
          }
        }

        &.settings-menu{
          float: right;
        }

        li{
          float: left;

          a{
            padding: 3px 10px;
            margin-right: 10px;
            @include grey-button(12);
          }

          &:last-child{
            a{
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}