@font-face {
  font-family: "hn-ulight";
  src: url("../font/HelveticaNeueLTStd-UltLt.otf") format("opentype");
}

@font-face {
  font-family: "hn-light";
  src: url("../font/HelveticaNeueLTStd-Lt.otf") format("opentype");
}

@font-face {
  font-family: "hn-bold";
  src: url("../font/HelveticaNeueLTStd-Bd.otf") format("opentype");
}

@font-face {
  font-family: "hn-medium";
  src: url("../font/HelveticaNeueLTStd-Md.otf") format("opentype");
}

@font-face {
  font-family: "hn-regular";
  src: url("../font/HelveticaNeueLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: "hn-thin";
  src: url("../font/HelveticaNeueLTStd-Th.otf") format("opentype");
}