.home-page{
  .empty-message{
    margin: 10px;
    padding: 10px;
    color: #ccc;
    display: none;
  }
}

#copy-popup{
  font-size: em(20);
  @include clearfix;

  strong{
    display: block;
    color: #bbb;
    margin-bottom: 5px;
  }

  .username{
    margin-bottom: 10px;
    margin-top: 10px;
  }
}